[plugin:authtkt]
# idenfication and authentication
use = repoze.who.plugins.auth_tkt:make_plugin
secret = seeeecrit

[plugin:browserid]
# authentication
use = repoze.who.plugins.browserid:make_plugin
audiences = 127.0.0.1:5000
rememberer_name = authtkt

[general]
request_classifier = repoze.who.classifiers:default_request_classifier
challenge_decider = repoze.who.classifiers:default_challenge_decider
remote_user_key = REMOTE_USER

[identifiers]
# plugin_name;classifier_name:.. or just plugin_name (good for any)
plugins = authtkt browserid

[authenticators]
# plugin_name;classifier_name.. or just plugin_name (good for any)
plugins = authtkt browserid

[challengers]
# plugin_name;classifier_name:.. or just plugin_name (good for any)
plugins = browserid
