<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree Status</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="container">
        <div id="main">
            <span class="atRight">
                <a class="loginout" href="/login">Login</a>
            </span>
            <h1>TreeStatus</h1>
            <h2 class="error">Sorry!</h2>
            <p class="error">
                You do not have permission to login to this system.
            </p>
        </div>
        <div id="footer">
            <span class="footerWrapper">
                <a href="/">All trees</a>
                <a href="/help">Help</a>
                <a href="https://github.com/mozilla/treestatus">Source</a>
                <a href="/login">Login</a>
            </span>
        </div>
    </div>
</body>
</html>
