<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Treestatus Docs</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
      <div id="container">
          <div id="main">
              <span class="atRight">
                  {% if 'REMOTE_USER' in request.environ: -%}
                  {{request.environ['REMOTE_USER']}}
                  <a class="loginout" href="/logout">Logout</a> 
                  {% else: -%}
                  <a class="loginout" href="/login">Login</a>
                  {% endif -%}
              </span>
              <h1>TreeStatus</h1>
              <h2 id="helpHeading">API documentation</h2>
              <p>
                  Treename parameters should be urlencoded if they contain special characters
                  such as '/'. Note that this means that in your browser they'll most
                  likely appear as doubly encoded.
              </p>
              <div id="tableWrapper">
                  <table class="help">
                      <thead>
                          <tr><th>URL</th><th>Method</th><th>Parameters</th><th>Description</th></tr>
                      </thead>
                      <tbody>
                          <tr><td>/</td><td>GET</td><td>[optional]&nbsp;format=json</td><td>Returns a list of all trees and their statuses</td></tr>
                          <tr><td>/</td><td>POST</td><td>status=$status<br/>reason<br/>trees=$tree<br/>tags=$tag</td><td>Sets the status of $trees to $status, with the specified reason. trees can be specified multiple times to set the status of multiple trees. tags can also be given multiple times.</td></tr>
                          <tr><td>/$treename</td><td>GET</td><td>[optional]&nbsp;format=json</td><td>Returns status of $treename</td></tr>
                          <tr><td>/$treename</td><td>POST</td><td>status=$status<br/>reason<br/>[optional]&nbsp;tags=$tag</td><td>Sets the status of $treename to status, with the specified reason and tags. tags can be given multiple times to set multiple tags.</td></tr>
                          <tr><td>/$treename</td><td>DELETE (or POST with _method=DELETE)</td><td>reason</td><td>Remove this tree</td></tr>
                          <tr><td>/$treename/logs</td><td>GET</td><td>[optional]&nbsp;format=json<br/>[optional]&nbsp;all=1</td><td>Returns logs of events on $treename. If all=1 then all events are returned, otherwise only the most recent 100 are returned.</td></tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <div id="footer">
                <span class="footerWrapper">
                    <a href="/">All trees</a>
                    <a href="/help">Help</a>
                    <a href="https://github.com/mozilla/treestatus">Source</a>
                    {% if 'REMOTE_USER' in request.environ: %}
                    <a href="/logout">Logout</a>
                    {% else: %}
                    <a href="/login">Login</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>
