<html>
    <head>
        <title>Treestatus Docs</title>
        <link rel="stylesheet" type="text/css" href="/static/releng.css" />
    </head>
    <body>
        <h1>API</h1>
        <table border="1">
            <thead>
                <tr><th>URL</th><th>Method</th><th>Parameters</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr><td>/</td><td>GET</td><td>[optional]&nbsp;format=json</td><td>Returns a list of all trees and their statuses</td></tr>
                <tr><td>/</td><td>POST</td><td>status=$status<br/>reason<br/>trees=$tree<br/>[optional]&nbsp;tags=$tag</td><td>Sets the status of $trees to $status, with the specified reason. trees can be specified multiple times to set the status of multiple trees. tags can also be given multiple times.</td></tr>
                <tr><td>/</td><td>POST</td><td>newtree=$treename</td><td>Adds a new tree called treename</td></tr>
                <tr><td>/$treename</td><td>GET</td><td>[optional]&nbsp;format=json</td><td>Returns status of $treename</td></tr>
                <tr><td>/$treename</td><td>POST</td><td>status=$status<br/>reason<br/>[optional]&nbsp;tags=$tag</td><td>Sets the status of $treename to status, with the specified reason and tags. tags can be given multiple times to set multiple tags.</td></tr>
                <tr><td>/$treename</td><td>DELETE (or POST with _method=DELETE)</td><td></td><td>Remove this tree</td></tr>
                <tr><td>/$treename/logs</td><td>GET</td><td>[optional]&nbsp;format=json<br/>[optional]&nbsp;all=1</td><td>Returns logs of events on $treename. If all=1 then all events are returned, otherwise only the most recent 100 are returned.</td></tr>
            </tbody>
        </table>
        <p>treenames should be urlencoded if they contain special characters
        such as '/'. Note that this means that in your browser they'll most
        likely appear as doubly encoded.</p>
        <p>
        <a href="/">All trees</a>
        <a href="/help">Help</a>
        {% if 'REMOTE_USER' in request.environ: %}
        <a href="/logout">Logout</a> ({{request.environ['REMOTE_USER']}})
        {% else: %}
        <a href="/login">Login</a>
        {% endif %}
        </p>
    </body>
</html>
