<!DOCTYPE html>
<head>
    <title>Tree Status</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
{% if 'REMOTE_USER' in request.environ: -%}
<script type="text/javascript">
"use strict";
function toggleTrees(source) {
  var checkboxes = document.getElementsByName('tree');
  for(var i=0; i < checkboxes.length; i++) {
    checkboxes[i].checked = source.checked;
  }
  validateForm();
}
function hasChecked(name) {
  var checkboxes = document.getElementsByName(name);
  for(var i=0; i < checkboxes.length; i++) {
    if (checkboxes[i].checked)
      return true;
  }
  return false;
}
function validateForm() {
  var submitButton = document.getElementById("submit");
  if (!hasChecked("tree")) {
    submitButton.disabled = true;
    submitButton.value = "No trees selected!";
    return;
  }
  var status = document.getElementById("status").value;
  if (status == "closed" && !hasChecked("tags")) {
    submitButton.disabled = true;
    submitButton.value = "No reason tags selected!";
    return;
  }
  submitButton.disabled = false;
  submitButton.value = "Submit";
}
window.onload = validateForm;
</script>
{% endif -%}
<div id="container">
    <div id="main">
      <span class="atRight">
          {% if 'REMOTE_USER' in request.environ: -%}
          {{request.environ['REMOTE_USER']}}
          <a class="loginout" href="/logout">Logout</a>
          {% else: -%}
          <a class="loginout" href="/login">Login</a>
          {% endif -%}
      </span>
      <h1>TreeStatus</h1>
      <div id="tableWrapper">
          {% if 'REMOTE_USER' in request.environ: -%}
          <form method="post" action="{{request.url}}">
              <input type="hidden" name="token" value="{{token}}" />
          {% endif -%}
              <table>
                  <thead>
                      <tr>
                        {% if 'REMOTE_USER' in request.environ: -%}
                        <th class="tableCheck">
                          <input type="checkbox" name="checkAll" onclick="toggleTrees(this)" /></th>
                        {% endif -%}
                        <th class="tableName">Name</th><th class="tableState">State</th><th class="tableReason">Reason</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for tree in trees -%}
                      <tr>
                          {% if 'REMOTE_USER' in request.environ: -%}
                          <td class="tableCheck">
                              <input type="checkbox" name="tree" value="{{tree.tree}}" onclick="validateForm()" />
                          </td>
                          {% endif -%}
                          <td class="tableName">
                              <a href="/{{tree.tree|urlencode|urlencode}}">{{tree.tree}}</a>
                          </td>
                          <td class="tableState {{tree.status.lower().replace(" ", "_")}}">{{tree.status.upper()}}</td>
                          <td class="tableReason">{{tree.reason|e|linkbugs or ""}}</td>
                      </tr>
                      {% endfor -%}
                  </tbody>
              </table>

          {% if 'REMOTE_USER' in request.environ: -%}
              <div id="modify">
                  <h2>Modify selected trees</h2>
                  <ul>
                     <li>Please indicate reason for closure, preferably with a bug link.</li>
                     <li>Please indicate conditions for reopening, especially if you might disappear before reopening the tree yourself.</li>
                  </ul>
                  <label for="status">New state:
                      <select name="status" id="status" onclick="validateForm()" onkeyup="validateForm()">
                          <option value="closed">Closed</option>
                          <option value="open">Open</option>
                          <option value="approval required">Approval Required</option>
                      </select>
                  </label><br/>

                  <label for="reason">Reason:
                      <input type="text" name="reason" id="reason" size="70" />
                  </label><br/><br/>

                  <input type="checkbox" name="tags" value="checkin-compilation" id="checkin-compilation" onclick="validateForm()" />
                  <label for="checkin-compilation">Check-in compilation failure</label><br/>

                  <input type="checkbox" name="tags" value="checkin-test" id="checkin-test" onclick="validateForm()" />
                  <label for="checkin-test">Check-in test failure</label><br/>

                  <input type="checkbox" name="tags" value="infra" id="infra" onclick="validateForm()" />
                  <label for="infra">Infrastructure related</label><br/>

                  <input type="checkbox" name="tags" value="backlog" id="backlog" onclick="validateForm()" />
                  <label for="backlog">Job backlog</label><br/>

                  <input type="checkbox" name="tags" value="planned" id="planned" onclick="validateForm()" />
                  <label for="planned">Planned closure</label><br/>

                  <input type="checkbox" name="tags" value="other" id="other" onclick="validateForm()" />
                  <label for="other">Other</label><br/><br/>

                  <input type="checkbox" name="remember" value="remember" id="remember" checked="checked" />
                  <label for="remember">Remember previous state</label><br/>

                  <span class="atRight"><input type="submit" id="submit" value="Submit" /></span>
              </div>
          </form>
      </div>
      {% if stacks -%}
      <div id="stacksWrapper">
          <h2>Previous states</h2>
          {% for stack in stacks: -%}
          <form method="post" action="">
              <p>
                  <input type="hidden" name="token" value="{{token}}" />
                  <input type="hidden" name="restore" value="{{stack.id}}" />
                  At {{stack.when.strftime("%Y-%m-%dT%H:%M:%S UTC")}}
                  {{stack.who}} changed
                  {% for t in stack.trees -%}
                  {%- if loop.index0 > 0 -%}
                  ,
                  {%- endif -%}
                  {{t.tree}}
                  {%- endfor %}
                  to {{stack.status.upper()}} {{stack.reason}}
                  <input type="submit" value="restore" />
                </p>
            </form>
            {% endfor -%}
        </div>
        {% endif -%}
        {% endif -%}
    </div>
    <div id="footer">
        <span class="footerWrapper">
            <a href="/">All trees</a>
            <a href="/help">Help</a>
            <a href="https://github.com/mozilla/treestatus">Source</a>
            {% if user and user.is_admin -%}
            <a href="/users">Manage Users</a>
            <a href="/mtree">Manage Trees</a>
            {% endif -%}
            {% if 'REMOTE_USER' in request.environ: -%}
            <a href="/logout">Logout</a>
            {% else: -%}
            <a href="/login">Login</a>
            {% endif -%}
        </span>
    </div>
</div>
</body>
</html>
