<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree Status</title>
    <link rel="stylesheet" type="text/css" href="/static/releng.css" />
</head>
<body>
<h1>Trees</h1>
{% if 'REMOTE_USER' in request.environ: -%}
<form method="post" action="">
<input type="hidden" name="token" value="{{token}}" />
{% endif -%}
<table>
    <thead>
        <tr><th>name</th><th>state</th><th>reason</th></tr>
    </thead>
    <tbody>
{% for tree in trees -%}
<tr>
    <td>
    {% if 'REMOTE_USER' in request.environ: -%}
    <input type="checkbox" name="tree" value="{{tree.tree}}" />
    {% endif -%}
    <a href="/{{tree.tree|urlencode|urlencode}}">{{tree.tree}}</a>
    </td>
    <td>{{tree.status.upper()}}</td>
    <td>{{tree.reason or ""}}</td>
</tr>
{% endfor -%}
{% if 'REMOTE_USER' in request.environ: -%}
    <tr>
        <td valign="top">Modify selected trees</td>
        <td valign="top">
        <select name="status">
            <option value="closed">Closed</option>
            <option value="open">Open</option>
            <option value="approval required">Approval Required</option>
        </select>
        </td>
        <td><input type="text" name="reason" size="30" /><br/>
            <input type="checkbox" name="tags" value="infra" id="infra" />
            <label for="infra">infrastructure related</label><br/>
            <input type="checkbox" name="remember" value="remember" id="remember" checked="checked" />
            <label for="remember">remember previous state</label><br/>
            <input type="submit" />
        </td>
    </tr>
    <tr>
        <td><input type="text" name="newtree" /></td>
        <td><input type="submit" value="Add tree" /></td>
    </tr>
{% endif -%}
    </tbody>
</table>
{% if 'REMOTE_USER' in request.environ: -%}
</form>
{% if stacks -%}
<h2>Previous states</h2>
{% for stack in stacks: -%}
<form method="post" action="">
<p>
<input type="hidden" name="token" value="{{token}}" />
<input type="hidden" name="restore" value="{{stack.id}}" />
At {{stack.when.strftime("%Y-%m-%d %H:%M:%S")}}
{{stack.who}} changed 
{% for t in stack.trees -%}
{%- if loop.index0 > 0 -%}
, 
{%- endif -%}
{{t.tree}}
{%- endfor %}
to {{stack.status.upper()}} {{stack.reason}}
<input type="submit" value="restore" />
</p>
</form>
{% endfor -%}
{% endif -%}
{% endif -%}

<p>
<a href="/">All trees</a>
<a href="/help">Help</a>
{% if user and user.is_admin -%}
<a href="/users">Manage Users</a>
{% endif -%}
{% if 'REMOTE_USER' in request.environ: -%}
<a href="/logout">Logout</a> ({{request.environ['REMOTE_USER']}})
{% else: -%}
<a href="/login">Login</a>
{% endif -%}
</p>
</body>
</html>
