<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree Status</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="container">
        <div id="main">
            <span class="atRight">
                {% if 'REMOTE_USER' in request.environ: -%}
                {{request.environ['REMOTE_USER']}}
                <a class="loginout" href="/logout">Logout</a>
                {% else: -%}
                <a class="loginout" href="/login">Login</a>
                {% endif -%}
            </span>
            <h1>TreeStatus</h1>
            <h2>Manage Trees</h2>
            <div id="tableWrapper">
                <form method="post" action="">
                    <input type="hidden" name="token" value="{{token}}">
                    <table>
                        <thead>
                            <tr>
                              <th class="tableTree">Name</th>
                              <th class="tableStatus">Status</th>
                              <th class="tableDelete"></th>
                              <th class="tableDelConf">Confirm?</th></tr>
                        </thead>
                        <tbody>
                            {% for t in trees -%}
                            <tr>
                                <td class="tableTree">{{t.tree}}</td>
                                <td class="tableState" {{t.status.lower().replace(" ","_")}}">{{t.status.upper()}}</td>
                                <td class="tableDelete">
                                    <input type="submit" name="delete:{{t.tree}}" value="Delete" />
                                </td>
                                <td class="tableDelConf">
                                    <input type="checkbox" name="delCheck" value="{{t.tree}}"/>
                                </td>
                            </tr>
                            {% endfor -%}
                        </tbody>
                    </table>
                    <div id="add">
                        <label for="newtree">Add Tree:
                          <input type="text" name="newtree" />
                         </label>
                        <span class="atRight"><input type="submit" value="Add" /></span>
                    </div>
                {% if error %}
                    <div id="error">{{ error.error_text }}</div>
                {% endif %}
                </form>
            </div>
        </div>

        <div id="footer">
            <span class="footerWrapper">
                <a href="/">All trees</a>
                <a href="/help">Help</a>
                <a href="https://github.com/mozilla/treestatus">Source</a>
                {% if user and user.is_admin -%}
                <a href="/users">Manage Users</a>
                <a href="/mtree">Manage Trees</a>
                {% endif -%}
                {% if 'REMOTE_USER' in request.environ: -%}
                <a href="/logout">Logout</a>
                {% else: -%}
                <a href="/login">Login</a>
                {% endif -%}
            </span>
        </div>
    </div>
</body>
</html>
