<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="container">
    <div id="main">
      <span class="atRight">
          {% if user: -%}
          {{user.name}}
          <a class="loginout" href="/logout">Logout</a> 
          {% else: -%}
          <a class="loginout" href="/login">Login</a>
          {% endif -%}
      </span>
      <h1>TreeStatus</h1>
      {%- block pageContent -%}
      {% endblock %}
    </div>
    <div id="footer">
        <span class="footerWrapper">
            <a href="/">All trees</a> |
            <a href="/help">Help</a> |
            <a href="https://github.com/catlee/treestatus">Source</a> |
            {% if user and user.is_admin -%}
            <a href="/users">Manage Users</a> |
            {% endif -%}
            {% if user: -%}
            <a href="/logout">Logout</a>
            {% else: -%}
            <a href="/login">Login</a>
            {% endif -%}
        </span>
    </div>
</div>
</body>
</html>
