<html>
<head>
    <title>{{tree.tree}} - {{tree.status}}</title>
</head>
<body>
    <h1>{{tree.tree}} - {{tree.status}} ({{tree.reason}})</h1>

{% if 'REMOTE_USER' in request.environ: %}
<form method="POST" action="{{tree.tree}}">
Reason: <input type="text" name="reason" size="40">
<select name="status">
    <option value="closed">Closed</option>
    <option value="open">Open</option>
    <option value="approval required">Approval Required</option>
</select>
<input type="checkbox" name="tags" value="infra" id="infra"><label for="infra">infrastructure related</label><br/>
<input type="submit">
</form>
{% endif %}

<ul>
{% for log in logs: %}
<li>{{log.who}} {{log.when}} action: {{log.action}}; reason: {{log.reason}}; tags: {{", ".join(log.tags)}}</li>
{% endfor %}
</ul>

<a href="/">All trees</a>
<a href="/help">Help</a>
{% if 'REMOTE_USER' in request.environ: %}
<a href="/logout">Logout</a>
{% else: %}
<a href="/login">Login</a>
{% endif %}
</body>
</html>
