<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{tree.tree}} - {{tree.status}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="container">
        <div id = "main">
            <span class="atRight">
                {% if 'REMOTE_USER' in request.environ: -%}
                {{request.environ['REMOTE_USER']}}
                <a class="loginout" href="/logout">Logout</a>
                {% else: -%}
                <a class="loginout" href="/login">Login</a>
                {% endif -%}
            </span>
            <h1><a href="/">TreeStatus</a></h1>
            <h2>{{tree.tree}} is <span class="{{tree.status.lower().replace(" ", "_")}}">{{tree.status.upper()}}</span></h2><br/>
            {% if tree.reason: -%}
            <h2>Reason: {{tree.reason|e|linkbugs}}</h2>
            {% endif -%}
            {% if tree.message_of_the_day -%}
            <h3>{{tree.message_of_the_day|e|linkbugs}}</h3>
            {% endif -%}
            <div id="tableWrapper">
                <h2 id="previous">History</h2>
                <table class="history">
                    <thead>
                        <tr>
                          <th class="tableWho">User</th>
                          <th class="tableWhen">Time</th>
                          <th class="tableState">Action</th>
                          <th class="tableReason">Reason</th>
                          <th class="tableTags">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs: -%}
                        <tr>
                            <td class="tableWho">
                            {% if 'REMOTE_USER' in request.environ: -%}
                                {{log.who}}
                            {% else -%}
                                {{log.who|obfuscate}}
                            {% endif -%}
                            </td>
                            <td class="tableWhen">
                                {{log.when}} UTC
                            </td>
                            <td class="tableState">
                                {{log.action}}
                            </td>
                            <td class="tableReason">
                                {{log.reason|e|linkbugs}}
                            </td>
                            <td class="tableTags">
                                {{", ".join(log.tags)}}
                            </td>
                        </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="footer">
            <span class="footerWrapper">
                <a href="/">All trees</a>
                <a href="/help">Help</a>
                <a href="https://github.com/mozilla/treestatus">Source</a>
                {% if 'REMOTE_USER' in request.environ: -%}
                <a href="/logout">Logout</a>
                {% else: -%}
                <a href="/login">Login</a>
                {% endif -%}
            </span>
        </div>
    </div>
</body>
</html>
