<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{tree.tree}} - {{tree.status}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="container">
        <div id = "main"> 
            <span class="atRight">
                {% if 'REMOTE_USER' in request.environ: -%}
                {{request.environ['REMOTE_USER']}}
                <a class="loginout" href="/logout">Logout</a> 
                {% else: -%}
                <a class="loginout" href="/login">Login</a>
                {% endif -%}
            </span>
            <h1>TreeStatus</h1>
            <h2>{{tree.tree}} is <span class="{{tree.status.lower().replace(" ", "_")}}">{{tree.status.upper()}}</span></h2><br/>
            {% if tree.reason: -%}
            <h2>Reason: {{tree.reason}}</h2>
            {% endif -%}
            {% if tree.message_of_the_day -%}
            <h3>{{tree.message_of_the_day}}</h3>
            {% endif -%}
            {% if 'REMOTE_USER' in request.environ: -%}
            <div id="modify">
                <h2>Modify this tree</h2>
                <form method="post" action="/{{tree.tree}}">
                    <label for="status">New state:
                        <select name="status">
                            <option value="closed">Closed</option>
                            <option value="open">Open</option>
                            <option value="approval required">Approval Required</option>
                        </select>
                    </label>
                    <label for="reason">Reason:
                        <input type="text" name="reason" size="30" value="{{tree.reason}}"/><br />
                    </label>
                    <label for="infra">Infrastructure related?
                        <input type="checkbox" name="tags" value="infra" id="infra" />
                    </label><br/>
                    <label for="message">MOTD
                        <textarea name="message" id="message" cols="95">{{tree.message_of_the_day}}</textarea>
                    </label><br/>
                    <input type="hidden" name="token" value="{{token}}" />
                    <span class="atRight"><input class="submit" type="submit" value="Submit"/></span>
                </form>
            </div>
            {% endif -%}
            <div id="tableWrapper">
                <h2 id="previous">History</h2>
                <table class="history">
                    <thead>
                        <tr>
                          <th class="tableWho">User</th>
                          <th class="tableWhen">Time</th>
                          <th class="tableState">Action</th>
                          <th class="tableReason">Reason</th>
                          <th class="tableTags">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs: -%}
                        <tr>
                            <td class="tableWho">
                            {% if 'REMOTE_USER' in request.environ: -%}
                                {{log.who}}
                            {% else -%}
                                {{log.who|obfuscate}}
                            {% endif -%}
                            </td>
                            <td class="tableWhen">
                                {{log.when}}
                            </td>
                            <td class="tableState">
                                {{log.action}}
                            </td>
                            <td class="tableReason">
                                {{log.reason}}
                            </td>
                            <td class="tableTags">
                                {{", ".join(log.tags)}}
                            </td>
                        </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="footer">
            <span class="footerWrapper">
                <a href="/">All trees</a>
                <a href="/help">Help</a>
                <a href="https://github.com/mozilla/treestatus">Source</a>
                {% if 'REMOTE_USER' in request.environ: -%}
                <a href="/logout">Logout</a>
                {% else: -%}
                <a href="/login">Login</a>
                {% endif -%}
            </span>
        </div>
    </div>
</body>
</html>
