<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tree Status</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div id="container">
        <div id="main">
            <span class="atRight">
                {% if 'REMOTE_USER' in request.environ: -%}
                {{request.environ['REMOTE_USER']}}
                <a class="loginout" href="/logout">Logout</a>
                {% else: -%}
                <a class="loginout" href="/login">Login</a>
                {% endif -%}
            </span>
            <h1>TreeStatus</h1>
            <h2>Manage Users</h2>
            <div id="tableWrapper">
                <form method="post" action="">
                    <input type="hidden" name="token" value="{{token}}">
                    <table>
                        <thead>
                            <tr>
                              <th class="tableWho">Email</th>
                              <th class="tableSheriff">Sheriff?</th>
                              <th class="tableAdmin">Admin?</th>
                              <th class="tableDelete"></th></tr>
                        </thead>
                        <tbody>
                            {% for u in users -%}
                            <tr>
                                <td class="tableWho">{{u.name}}</td>
                                {% if u.is_sheriff -%}
                                <input type="hidden" name="was_sheriff" value="{{u.id}}"/>
                                {% endif -%}
                                {% if u.is_admin -%}
                                <input type="hidden" name="was_admin" value="{{u.id}}"/>
                                {% endif -%}
                                <td class="tableSheriff"><input type="checkbox" name="sheriff" value="{{u.id}}" {{'checked=1' if u.is_sheriff else ''}}/></td>
                                <td class="tableAdmin"><input type="checkbox" name="admin" value="{{u.id}}" {{'checked=1' if u.is_admin else ''}}/></td>
                                <td class="tableDelete">
                                    <input type="submit" name="delete:{{u.id}}" value="Delete" />
                                <td/>
                            </tr>
                            {% endfor -%}
                        </tbody>
                    </table>
                    <div id="modify">
                        <span class="atRight"><input type="submit" value="Submit"/></span>
                    </div>
                    <div id="add">
                        <label for="newuser">Add user:
                          <input type="text" name="newuser" />
                         </label>
                        <span class="atRight"><input type="submit" value="Add" /></span>
                    </div>
                </form>
            </div>
        </div>

        <div id="footer">
            <span class="footerWrapper">
                <a href="/">All trees</a>
                <a href="/help">Help</a>
                <a href="https://github.com/mozilla/treestatus">Source</a>
                {% if user and user.is_admin -%}
                <a href="/users">Manage Users</a>
                <a href="/mtree">Manage Trees</a>
                {% endif -%}
                {% if 'REMOTE_USER' in request.environ: -%}
                <a href="/logout">Logout</a>
                {% else: -%}
                <a href="/login">Login</a>
                {% endif -%}
            </span>
        </div>
    </div>
</body>
</html>
